.right-side {
    width: 50%;
    background-color: white;
    padding: 20px;
  }

  h1 {
    font-weight: bold;
  }

  .btn {
    background-color: #fd8d14;
    color: #000000;
    border: #ffffff;
    font-family: "Nunito", serif;
    font-weight: 300;
    font-style: normal;
    border-radius: 4px;
  }

  .btn:hover {
    background-color: #000000;
    color: #ffffff;
  }