/* Navbar.css */
.navbar-logo {
    max-width: 50px;
}

.navbar {
    background-color: #10375C; /* Cambia el color de fondo de la navbar */
    padding: 10px 20px; /* Añadido padding */
}

.nav-link {
    color: #F3C623 !important; /* Color de los enlaces */
    font-size: 18px !important;   
    border: none !important; 
    font-family: "Dosis", sans-serif;
    font-weight: 600 !important;
    margin-left: 15px; /* Añadir margen entre los elementos */
}

.nav-link:hover {
    color: #EB8317 !important; /* Color de los enlaces al pasar el mouse */
    transition: color 0.3s ease, font-size 0.3s ease;
    border: none !important; 

}


