.contact-container {
  padding: 200px 100px;
}

.mision {
  text-align: justify;
}

@media (min-width: 360px) and (max-width: 933px) {

  .contact-container {
    padding: 30px 70px;
  }

  .mision {
    text-align: justify;
  }
}