.footer {
    background-color: #10375C;
    color: #343a40;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.footer-logo {
    max-width: 150px;
}

.footer-text {
    font-size: 15px;
    color: #F4F6FF;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}

.footer-links li {
    margin-bottom: 5px;
}

.footer-link {
    color: #F4F6FF;
    font-size: 15px;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.footer-link:hover {
    color: #EB8317;
}

.footer-social .icons {
    font-size: 24px;
    color: #F4F6FF;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.footer-social .icons:hover {
    color: #EB8317;
}

.footer-copy {
    color: #F3C623;
    font-size: 12px;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.subt {
    color: #F3C623;
    font-size: 18px;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}