body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* #VARIABLES
Colores:
- color: #F3C623 Amarillo;
- color: #10375C Azul;
- color: #EB8317 Naranja;

Fuentes:
- font-family: "Dosis", sans-serif;

Tamaños:
- Titulos: 20px
- Subtitulos y texto: 15px
 */